<header>
    <h1>/Film Scraper</h1>
    <p>Scrape slashfilm.com for new articles</p>
    <div class="button-bar"><a href="/articles"><button id="view-btn">View Articles</button></a></div>
</header>
<div class="container">
    <div class="articles-div">
        <ul>
            {{#each articles}}
            <li>
                <div class="article clearfix">
                    <h2 class="article-title" data-id={{_id}}>{{title}}</h2>
                    <button data-saved={{saved}} data-id={{_id}} class="saved-true" id="save-btn">Saved!</button>
                    <a target="_blank" href={{link}}><button id="view-btn">View Article</button></a>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
    <div class="input-div">
        <h3 class="article-h3"></h3>
        <form>
            <textarea class="comment-text" placeholder="Comment" rows="6"></textarea>
            <input class="comment-title" type="text" placeholder="Title">
            <input class="comment-submit" type="submit" value="Save">
        </form>
        <div class="comments-div"></div>
    </div>
</div>